{% load static %}
<div class= "main-container">
  <div class="container-fluid">
    <div class="row">
      <div class="post1 m-2 col-12">
        <div class="infoUsuario">
          <div class="imgPerfil m-1">
              <img class="imgPerfil" src="{% static 'img/user_hombre.png' %}">
          </div>
          <div class="nombreUsuario">
            <h6>Mario Castañeda</h6>
          </div>
          <div class="tipoUsuario">
            <h6 class="tamañoTipoUsuario">Estudiante</h6>
          </div>
        </div>
        <h3 class="contenidoPost">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h1>
        <div class="botonesPost">
          <div>
              <img class="meGusta" src="{% static 'img/me_gusta.png' %}">
          </div>
          <div>
              <img class="noGusta" src="{% static 'img/no_gusta.png' %}">
          </div>
          <div class="respuesta">
            <a href="">respuestas<img class="imgRespuesta" src="{% static 'img/respuestas.png' %}"></a>
          </div>
        </div>
      </div>
      <div class="post2 m-2 col-12">
        <div class="infoUsuario">
          <div class="imgPerfil m-1">
              <img class="imgPerfil" src="{% static 'img/user_mujer.webp' %}">
          </div>
          <div class="nombreUsuario">
            <h6>Mark Zuckerverg</h6>
          </div>
          <div class="tipoUsuario">
              <h6 class="tamañoTipoUsuario">Profesor</h6>
          </div>
        </div>
        <h3 class="contenidoPost">Et pharetra pharetra massa massa.</h1>
        <div class="botonesPost">
          <div>
              <img class="meGusta" src="{% static 'img/me_gusta.png' %}">
          </div>
          <div>
              <img class="noGusta" src="{% static 'img/no_gusta.png' %}">
          </div>
          <div class="respuesta">
            <a href="">respuestas<img class="imgRespuesta" src="{% static 'img/respuestas.png' %}"></a>
          </div>
        </div>
      </div>
      <div class="post1 m-2 col-12">
        <div class="infoUsuario">
          <div class="imgPerfil m-1">
              <img class="imgPerfil" src="{% static 'img/user_hombre.png' %}">
          </div>
          <div class="nombreUsuario">
            <h6>Mario Castañeda</h6>
          </div>
          <div class="tipoUsuario">
            <h6 class="tamañoTipoUsuario">Estudiante</h6>
          </div>
        </div>
        <h3 class="contenidoPost">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h1>
        <div class="botonesPost">
          <div>
              <img class="meGusta" src="{% static 'img/me_gusta.png' %}">
          </div>
          <div>
              <img class="noGusta" src="{% static 'img/no_gusta.png' %}">
          </div>
          <div class="respuesta">
            <a href="">respuestas<img class="imgRespuesta" src="{% static 'img/respuestas.png' %}"></a>
          </div>
        </div>
      </div>
      <div class="post2 m-2 col-12">
        <div class="infoUsuario">
          <div class="imgPerfil m-1">
              <img class="imgPerfil" src="{% static 'img/user_mujer.webp' %}">
          </div>
          <div class="nombreUsuario">
            <h6>Mark Zuckerverg</h6>
          </div>
          <div class="tipoUsuario">
              <h6 class="tamañoTipoUsuario">Profesor</h6>
          </div>
        </div>
        <h3 class="contenidoPost">Et pharetra pharetra massa massa.</h1>
        <div class="botonesPost">
          <div>
              <img class="meGusta" src="{% static 'img/me_gusta.png' %}">
          </div>
          <div>
              <img class="noGusta" src="{% static 'img/no_gusta.png' %}">
          </div>
          <div class="respuesta">
            <a href="">respuestas<img class="imgRespuesta" src="{% static 'img/respuestas.png' %}"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>